<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="heading06"><i class="fas fa-utensils"></i> Recipe</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<%= attachment_image_tag @recipe, :image, style: "width: 500px; height: 350px;", fallback: "noimage.jpg" %>
			<i class="fas fa-heart"></i>
            <%= @recipe.user.nickname %>
		</div>
		<div class="col-lg-7">
			<div class="title-a"><%= @recipe.title %></div>
            <div class="content average-score">
                <div class="star-rating mb-2">
	                <div class="star-rating-front" style="width: <%= @recipe.review_score_percentage %>%">★★★★★</div>
	                <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display ml-3 pt-2">
	                <%= @recipe.avg_score %>点（<%= @recipe.reviews.count %>件のレビュー）<br />
                </div>
            </div>
            <%= link_to "レビューを見る", admin_recipe_reviews_path(@recipe), class: "button light ml-3 mt-3" %>
			<div class="title-b">ジャンル</div>
			<div class="body-b">
				<% @recipe.genres.each do |genre| %>
					<%= genre.name %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="title-b">材料</div>
			<div class="body-b"><%= simple_format @recipe.ingredient %></div>
			<!-- simple_formatで改行を入れる -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="title-b">作り方</div>
			<div class="body-b"><%= simple_format @recipe.body %></div>
		</div>
	</div>
</div>