<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>管理者レシピ詳細</h1>
			<%= attachment_image_tag @recipe, :image, style: "width: 192px; height: 108px;", fallback: "noimage.jpg" %><br>
			<%= @recipe.title %>
			<%= simple_format @recipe.ingredient %>
			<!-- simple_formatで改行を入れる -->
			<%= simple_format @recipe.body %>
			<%= @recipe.user.nickname %>
			<% if @recipe.user.id == current_user.id %>
			<%= link_to "編集", edit_recipe_path(@recipe) %>
			<% end %>

		</div>
	</div>
</div>