<p class="is size-4 mb -3">投稿フォーム</p>

<div class="txt">
  <%= form_with model: @recipe, local: true do |f| %>
    <div class="field">
      <%= f.label :title, "レシピ名"%>
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :ingredient, "材料" %>
      <%= f.text_area :ingredient, class: "textarea" %>
    </div>

    <div class="field">
      <%= f.label :body, "作り方" %>
      <%= f.text_area :body, class: "textarea" %>
    </div>

    <div class="field">
      <%= f.label :image, "写真" %>
      <%= f.attachment_field :image, class: "input" %>
    </div>

    <div class="field">
    <%= f.label :genre, 'カテゴリ' %>
    <%= f.collection_check_boxes(:genre_ids, @genres.all, :id, :name) do |genre| %> 
      <%= genre.label do %>
        <%= genre.check_box %>
        <%= genre.text %>
      <% end %>
    <% end %>
    </div>
	<%= f.submit submit, class: "btn btn-primary ml2" %>
  <% end %>

</div>