<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>レシピ編集</h1>
			<%= form_for @recipe do |f| %>
				<%= f.label :title %>
				<%= f.text_field :title %>
				<%= f.label :ingredient %>
				<%= f.text_area :ingredient %>
				<%= f.label :body %>
				<%= f.text_area :body %>
				<%= f.label :image %>
				<%= f.attachment_field :image %>
<!-- 	            <%= f.label :genres %>
		             <div class="checkbox">
		                <%= collection_check_boxes(:recipe, :genre_ids, Genre.all, :id, :name, include_hidden: false) do |g| %>
		                <%= g.label {g.check_box + g.text} %>
		                <% end %>
		            </div> -->
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>