<div class="container">
	<div class="row">
		<div class="col-lg">
			<div class="title"><i class="fas fa-utensils"></i> Reciepes</div>

    		<% @recipes.each do |recipe| %>
          <div class="box">
            <div class="box-1">
              <%= link_to(recipe_path(recipe)) do %>
          			<%= attachment_image_tag recipe, :image, style: "width: 192px; height: 108px;" %>
              <% end %>
              <% if current_user.already_favorited?(recipe) %>
                <%= link_to recipe_favorites_path(recipe), method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
                <%= recipe.favorites.count %>
              <% else %>
                <%= link_to recipe_favorites_path(recipe), method: :post do %>
                  <i class="far fa-heart"></i>
                <% end %>
                <%= recipe.favorites.count %>
              <% end %>
              <%= recipe.title %>
            </div>

            <div class="box-1">
              <%= link_to(user_path(recipe.user_id)) do %>
              <%= attachment_image_tag recipe.user, :profile_image, style: "width: 50px; height: 30px;" %>
              <% end %>
        			<%= recipe.user.nickname %>
        			<%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
    		<% end %>

		</div>
	</div>
</div>
