<div class="container">
	<div class="row">
		<h1>レシピ詳細</h1>
		<div class="col-lg-4">
			<%= attachment_image_tag @recipe, :image, style: "width: 192px; height: 108px;", fallback: "noimage.jpg" %>
		</div>
		<div class="col-lg-8">
			<%= @recipe.title %>
			<%= simple_format @recipe.ingredient %>
			<!-- simple_formatで改行を入れる -->
			<%= simple_format @recipe.body %>
			<%= @recipe.user.nickname %>


            <% if current_user.already_favorited?(@recipe) %>
              <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
              <%= @recipe.favorites.count %>
            <% else %>
              <%= link_to recipe_favorites_path(@recipe), method: :post do %>
                <i class="far fa-heart"></i>
              <% end %>
              <%= @recipe.favorites.count %>
            <% end %>

			<span>【ジャンル】</span>
			<% @recipe.genres.each do |genre| %>
			  <%= genre.name %>
			<% end %>

			<% if @recipe.user.id == current_user.id %>
			<%= link_to "編集", edit_recipe_path(@recipe) %>
			<% end %>
			<%= render 'public/reviews/form', review: @review, recipe: @recipe %>
		</div>
	</div>
</div>