<div class="title-a"><%= @recipe.title %></div>
<table class="table">
    <div class="card-content">
        <div class="content average-score">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= @recipe.review_score_percentage %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="average-score-display ml-3 pt-2">
              <%= @recipe.avg_score %>点（<%= @recipe.reviews.count %>件のレビュー）
            </div>
         </div>
    </div>
	<thead>
		<tr>
			<th>ユーザー</th><th>点数</th><th>内容</th>
			<% if admin_signed_in? %>
				<th>感情スコア</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% reviews.each do |review| %>
		<tr>
			<td><%= review.user.nickname %></td>
			<td><%= review.score %></td>
			<td><%= review.content %></td>
			<% if admin_signed_in? %>
			<td><span class="sentiment-score"><%= review.point %></span></td>
			<% end %>
		</tr>
		<% end%>
	</tbody>
</table>
