<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="heading06"><i class="fas fa-user"></i> 会員一覧</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th class="api-th">会員ID</th>
						<th class="api-th">氏名</th>
						<th class="api-th">メールアドレス</th>
						<th class="api-th">ステータス</th>
					</tr>
				</thead>
				<% @users.each do |user| %>
					<tbody>
						<tr>
							<td><%= user.id %></td>
							<td>
								<%= user.last_name %>
								<%= user.first_name %>
							</td>
							<td><%= user.email %></td>
							<td>
								<% if user.is_active? %>
									<span class="text-active">有効</span>
								<% else %>
									<span class="text-invalid">退会済み</span>
								<% end %>
							</td>
							<td><%= link_to "詳細", admin_user_path(user), class: "btn btn-primary" %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<%= paginate @users %>
			</div>
		</div>
	</div>
</div>