<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h1>登録情報</h1>
			<p>※プロフィール画像をたす</p>
			<%= @user.first_name %>
			<%= @user.last_name %>
			<%= @user.first_name_kana %>
			<%= @user.last_name_kana %>
			<%= @user.nickname %>
			<%= @user.postal_code %>
			<%= @user.address%>
			<%= @user.email %>
			<%= @user.telephone_number %>
			<%= link_to '編集', edit_user_path %>
		</div>
		<div class="col-lg-5">
			<table class="table">
				<caption>投稿したレシピ</caption>
				<thead>
					<tr>
						<th>header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>data</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>