<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h1>登録情報</h1>
			<%= attachment_image_tag @user, :profile_image, style: "width: 192px; height: 108px;", fallback: "noimage.jpg" %>
			<br>
			<%= @user.first_name %>
			<%= @user.last_name %>
			<%= @user.first_name_kana %>
			<%= @user.last_name_kana %>
			<%= @user.nickname %>
			<%= @user.postal_code %>
			<%= @user.address%>
			<%= @user.email %>
			<%= @user.telephone_number %>
			<%= link_to '編集', edit_user_path %>
		</div>
		<div class="col-lg-5">
			<table class="table">
				<caption>投稿したレシピ</caption>
				<thead>
					<tr>
						<th>header</th>
					</tr>
				</thead>
				<tbody>
				 <% @user.recipes.each do |recipe| %>
					<tr>
						<td><%= recipe.title %></td>
					</tr>
				<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>